@use "@angular/material" as mat;

:host {
    display: flex;
    flex-direction: column;
}

mat-spinner {
  grid-column: 2 / -1;
  margin: 5em auto;
}

.internship-list-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .internship-list-items {
        height: 100vh;
        position: relative;
        overflow-y: auto;
    }

  .internship-list-paginator {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
  }
}

.internship-details-container {
    height: 100vh;
    overflow-y: auto;
}
