@use "@angular/material" as mat;

:host {
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    grid-template-columns: minmax(225px, 0.5fr) minmax(225px, 0.75fr) minmax(300px, 1fr);
    grid-template-rows: 1fr;
    flex-grow: 1;
}

mat-spinner {
  grid-column: 2 / -1;
  margin: 5em auto;
}
