
<app-toolbar></app-toolbar>

<div class="content">
    <app-sidebar (searchChanged)="doSearch($event)"></app-sidebar>
    <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
    <app-internship-list *ngIf="!loading && internships" [internships]="internships" (internshipClicked)="onInternshipClicked($event)"></app-internship-list>
    <div style="height: 100%">
        <app-internship-details *ngIf="!loading && selectedInternship" [internship]="selectedInternship"></app-internship-details>
    </div>
</div>
