
/* This CSS file is injected into every webpage when the extension is enabled. */
/* Like the content script, naming conflicts may occur with the webpage. */

@keyframes agtern-devtools-border-blink {
    from, to { border-color:transparent }
    50% { border-color: red }
}

.agtern-devtools-selected {
    border-width: 5px !important;
    border-style: solid !important;
    border-radius: 5px !important;
    animation: agtern-devtools-border-blink 1.5s linear infinite
}
