<mat-card class="job-details" [@enterLeave]="job">
    <mat-card-title-group>
        <mat-card-title>
            {{job.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{job.company}}
        </mat-card-subtitle>
        <div>
            <a
              mat-flat-button
              color="accent"
              class="apply-now"
              [href]="job.apply_link"
              target="_blank"
              rel="noopener noreferrer"
            >
                <span>Apply Now!</span>&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon matSuffix class="apply-now-icon">open_in_new</mat-icon>
            </a>
        </div>
    </mat-card-title-group>
    <div class="tag-list">
        <mat-chip-list *ngIf="job.tags">
            <mat-chip color="accent" selected *ngFor="let tag of job.tags.split(',')">{{tag}}</mat-chip>
        </mat-chip-list>
    </div>
    <mat-card-content style="white-space: pre-wrap">
      <div class="job-container">
        <div class="job-description">
          {{job.description}}
        </div>
        <div class="job-tracking">
          <div class="status">
            <strong>Status:</strong> Applied
          </div>
          <div class="status-line"></div>
          <div class="status-list">
            <ul>
              <li>
                <span class="status-text">Unapplied</span>
                <span class="date">11/12/23</span>
              </li>
              <!-- Add more status entries here -->
            </ul>
          </div>
        </div>
      </div>
    </mat-card-content>
</mat-card>
