@use "../../../../../node_modules/@angular/material/index" as mat;

.job-details {
    margin: 2em 2em 2em 0;
    height: max-content;
    @include mat.elevation(8);

    @media (max-width: 900px) {
        margin: 0;
    }
}

.apply-now {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75em;
    padding: 0.5ch 2ch 0.5ch 2ch;
}

.tag-list {
    padding-bottom: 16px;
}

.apply-now-icon {
    line-height: 20px;
}

.job-container {
  display: flex;
}

.job-description {
  flex: 2;
  background-color: #e0e0e0;
  /* Change background color as needed */
  padding: 20px;
  border: 1px solid #ccc;
}

.job-tracking {
  flex: 1;
  background-color: #f0f0f0;
  /* Change background color as needed */
  padding: 20px;
  border: 1px solid #ccc;
}

.status {
  margin-bottom: 15px;
}

.status-line {
  border-top: 1px solid #ccc;
  margin-bottom: 15px;
}

.status-list {
  margin-bottom: 15px;
}

.status-list ul {
  list-style-type: none;
  padding: 0;
}

.status-list li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between; /* Places content at opposite ends */
}

.status-form-container {
  display: flex;
  flex-direction: column;
}

.date {
  color: #777;
}

/* Adjust spacing between text and date */
.status-text {
  margin-right: 10px;
}
