<mat-card class="internship-card">
    <mat-card-header>
        <div mat-card-avatar class="icon">{{internship.company?.charAt(0)?.toUpperCase() ?? "?"}}</div>
        <mat-card-title>
            {{internship.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{internship.company}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="white-space: pre-wrap">{{
          internship.description !== undefined && internship.description.length > 500
            ? internship.description.substring( 0, 497 ) + "..."
            : internship.description
          }}</div>
        <br/>
        <mat-chip-list>
            <mat-chip color="accent" selected *ngFor="let tag of tags">{{tag}}</mat-chip>
            <!-- TODO: Replace this with iteration over tags (once they're in the Internship model)-->
        </mat-chip-list>
    </mat-card-content>
</mat-card>
