/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.agtern-title {
    font-family: "Roboto Slab", serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    font-size: 32px;
    margin-left: 2ch;
}

mat-form-field .mat-form-field-flex {
    cursor: text;
}