<mat-card class="internship-details">
    <mat-card-title-group>
        <mat-card-title>
            {{name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{company}}
        </mat-card-subtitle>
        <a mat-flat-button color="accent" class="apply-now">
            <span>Apply Now!</span>&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon matSuffix class="apply-now-icon">open_in_new</mat-icon>
        </a>
    </mat-card-title-group>
    <mat-card-content>
        {{description}}
    </mat-card-content>
</mat-card>
