:host, .toolbar {
    position: relative;
    top: 0;
    z-index: 5;
    flex-shrink: 0;
    height: 80px;
}

.agtern-title {
    font-family: "Roboto Slab", serif;
    font-variant: small-caps;
    letter-spacing: 5px;
    font-size: 32px;
    margin-left: 2ch;
}
