<mat-toolbar color="primary">
  <a routerLink="/">
    <div class="title-container">
      <img src="./assets/agtern-logo.png" alt="AgTern Logo" width="32" height="32">
      <span>AgTern</span>
    </div>
  </a>
  <span class="toolbar-spacer"></span>
  <div class="toolbar-bttn-container">
    <a mat-button routerLink="" aria-label="Home page button">Home</a>
    <a mat-button routerLink="jobs" aria-label="Jobs page button">Jobs</a>
    <a mat-raised-button color="primary" routerLink="login" aria-label="Log in page button">Log In</a>
    <a mat-button routerLink="sign-up" aria-label="Sign up page button">Sign Up</a>
  </div>
</mat-toolbar>
