<mat-toolbar color="primary">
  <img src="./assets/agtern-logo.png" alt="AgTern Logo" class="logo" width="20" height="20">
  <span>AgTern</span>
  <span class="toolbar-spacer"></span>
  <div class="toolbar-bttn-container">
    <a mat-button routerLink="" aria-label="Home page button">Home</a>
    <a mat-button routerLink="jobs" aria-label="Jobs page button">Jobs</a>
    <a mat-raised-button color="primary" routerLink="login" aria-label="Log in page button">Log In</a>
    <a mat-button routerLink="sign-up" aria-label="Sign up page button">Sign Up</a>
  </div>
</mat-toolbar>
