<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="form.get('username')!.hasError('required')">Username is required</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="form.get('password')!.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="form.get('password')!.hasError('minlength')">Password must be at least 8 characters long</mat-error>
        </mat-form-field>
      </p>

      <div class="sign-up-button">
        <button type="submit" mat-button>Sign Up</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
